@font-face {
  font-family: "Inter";
  src: url("../../templates/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  /*border: 1px solid red;
    font-family: Arial, Helvetica, sans-serif;*/
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}


/* Estilo responsive para pantallas pequeñas (teléfonos móviles) */
@media screen and (max-width: 480px), (max-width: 600px){
  .header {
    height: 80px;
    display: flex;
    background-color: #ffffff;
    border-bottom: 1px solid #000;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    width: 100%;
    height: auto;
  }

  .header .logo {
    padding: 0 10px;
    margin: 0;
  
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  .logo img {
    max-width: 70px;
    height: 70%;
    padding: 0;
    margin: 0 30px;
  }

  .Conocenos button  {
    font-size: 38px;
  }

  .Conocenos .ConocenosOpciones a {
    font-size: 17px;
    text-decoration: none !important;
  }
  .Conocenos .ConocenosTitulo {
    font-size: 25px !important;
    font-weight: 90px;

  }

  .TitlesInformation #TituloPage {
    width: 100%;
    font-size: 25px;
    padding: 20px 0 10px 0;
    margin: 0;
    text-align: center;
    font-weight: 900;
  }
  
  .TitlesInformation #subtituloPage{
    font-size: 17px;
  } 
  
.sidebar h3 {
  display: none;
}

.container{
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 10px;

}

.container .sidebar{
  width: 100%  !important;
  padding: 20px 15px !important;
}

.sidebar ul{
  display: flex;
  justify-content: space-evenly; 
  width: 100%;
  
}

.sidebar li{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.sidebar a {
  font-size: 12px !important;
}

.container .traductorBraille {
  width: 100% !important;
  padding: 20px 15px !important;
  margin: 0;
  text-align: center;
}

.botonesDescargar{
  display: block !important;
}
.botonDescargarPNG,
.botonDescargarPDF {
  width: 50% !important;
  font-size: 12px !important;
  float: right;
}

.divComponentesplusentrada .divComponentes {
  width: 30% !important;
  border-right: 1px solid #e0e0e0;
  display: inline-block;
}

/*CAJA DE COMPONENETES Y ENTRADA - ENTRADAS*/
.divComponentesplusentrada .entradas {
  width: 70% !important;
  margin: 0 8px;
}

.componentes .ellipse {
  width: 30px !important;
  height: 30px!important;
}
.divComponentes .componentes {
  margin-top: 40px!important;
  margin-left: 10px !important;
}

#collectButton {
  width: 70%;
  height: 20px!important;
  margin: 2px 0 0 0 !important;
  font-size: 12px !important;
}

#spaceButton {
  width: 60%;
  height: 20px!important;
  margin: 4px !important;
  padding: 0;
  font-size: 11px !important;
}

.entradas .entradaTexto{
  height: 80% !important;
}

.divImpresion, .BotonCopiar {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  align-items: center !important;
}

}


/*CABECERA*/
.header {
  height: 80px;
  display: flex;
  background-color: #ffffff;
  border-bottom: 1px solid #000;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  width: 100%;
}

/*CABECERA LOGO DEV-SENTINALS*/
.header .logo {
  padding: 0 10px;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

/*CABECERA LOGO IAMGEN DEV-SENTINALS*/
.logo img {
  width: fit-content;
  height: 70%;
  padding: 0;
  margin: 0 30px;
}

/*CABECERA LOGO LETRAS DEV-SENTINALS*/
.logo p {
  height: 30%;
  color: #0a0a23;
  text-decoration: solid;
  font-weight: 900;
  padding: 0 10px;
  margin: 0;
}

/*CABECERA INFORMACION*/
.header .info {
  height: 70px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 10px;
}

/*CABECERA - IMAGEN i*/
.info img {
  height: 60%;
  padding: 0;
  margin: 0;
}

/*CABECERA -CONOCENOS LETRA*/
.Conocenos {
  display: inline-block;
  position: relative;
}

.ConocenosTitulo{
  font-size: 18px;
  cursor: pointer;
  padding: 0 15px;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

/*CABECERA -CONOCENOS LISTA DESPLEGABLE*/
.ConocenosOpciones {
  display: none;
  position: absolute;
  overflow: auto;
  background-color: #fcfcfc;
  padding: 0;
  margin: 0;
}

.Conocenos:hover .ConocenosOpciones,
.Conocenos a:focus + .ConocenosOpciones {
  display: block;
}

.ConocenosOpciones a {
  display: block;
  color: #000000;
  text-decoration: solid;
  font-size: 17px;
  padding: 10px 15px;
  margin: 0;
}

.ConocenosOpciones a:hover {
  color: #2e2d38;
  border-radius: 8px;
  border-bottom: 1px solid #000;
}

/*CONTENIDO TITULO*/
.Titulo {
  width: 100%;
  font-size: 55px;
  padding: 30px 0 10px 0;
  margin: 0;
  text-align: center;
  font-weight: 900;
}

/*CONTENEDOR SIDEBAR+CONTENIDO*/
.container {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}

/*CONTENIDO SIDE BAR */
.container .sidebar {
  width: 20%;
  margin: 0;
  padding: 40px 10px 0 40px;
  border-right: 1px solid #e0e0e0;
}
.container main {
  width: 80%;
  margin: 12px;
  padding: 0px;
}

/*CONTENIDO SIDE BAR IMAGEN BUSQUEDA*/
.sidebar img {
  height: 20px;
  padding: 0;
  margin: 0 10px 0 0;
  border:1px solid #000;
}

/*CONTENIDO SIDE BAR LISTA*/
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar ul li {
  margin: 0;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar ul li:hover {
  background: #e0e0e0;
}

.sidebar ul li a {
  margin: 0;
  padding: 0 5px 0 0;
  color: #000;
  font-size: 16px;
  text-decoration: none;
}

/*CONTENEDOR - CONTENIDO*/
.TitlesInformation #TituloPage{
  width: 80%;
  padding: 20px 50px 0 50px;
  margin: 0;
  text-align: center;
}


/*CONTENIDO SUBTITULO TRADUCIR*/
.TitlesInformation #subtituloPage {
  font-size: 30px;
  color: #104868;
  padding: 0 0 24px 0;
  margin: 0;
  text-align: center;
}

/*CONTENIDO LETRAS DE ADVERTENCIAS*/
.traductorBraille .warningCaracteres {
  font-size: 11px;
  letter-spacing: 0;
  line-height: 16.5px;
  color: #f00;
  margin: 0;
  padding: 0;
  text-align: left;
}

/*CONTENIDO ENTRADAS DE TEXTO ESP-BRAI*/
.traductorBraille .entradaTexto {
  width: 100%;
  text-align: center;
  height: 100px;
  font-size: 100%;
  margin: 0 0 20px 0;
  padding: 10px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 5px 5px #00000040;
}

/*CONTENIDO ENTRADAS DE TEXTO PLACEHOLDER*/
.entradaTexto::placeholder {
  text-align: center;
  line-height: 60px;
  display: block;
}

/*CONTENIDO BOTON TRADUCIR*/
.traductorBraille .botonTraducir {
  width: 150px;
  height: 50px;
  background-color: #000000;
  border-radius: 10px;
  color: #ffffff;
  margin: 15px 0 15px 0;
  padding: 0;
  text-align: center;
  font-size: 20px;

}

.traductorBraille .botonTraducir:hover {
  background-color: #104868;
}

/*CONTENIDO AREA DE OUTPUT*/
.divImpresion, .BotonCopiar {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.traductorBraille .respuesta {
  width: 100%;
  min-height: 230px;
  padding: 15px;
  margin: 0;
  border: 1px solid #000;
  box-shadow: 0px 5px 5px #00000040;
  overflow: auto;
}

.btnTraducir{
  width: 100%;
  display: flex;
  justify-content: center;
}
/*BOTON DE DESCARGAR*/
.botonesDescargar {
  display: flex;
  justify-content: right;
}

.botonDescargarPNG,
.botonDescargarPDF {
  width: 20%;
  height: 30px;
  background-color: #000000;
  border-radius: 10px;
  color: #ffffff;
  float: right;
  margin: 0 0 12px 12px;
  padding: 0;
  font-size: 15px;
}


/*BRAILLE - ESPAÑOL*/

/*CAJA DE COMPONENETES Y ENTRADA */
.divComponentesplusentrada {
  display: flex;
}

/*CAJA DE COMPONENETES Y ENTRADA -COMPONENETES*/
.divComponentesplusentrada .divComponentes {
  width: 13%;
  border-right: 1px solid #e0e0e0;
  display: inline-block;
}

/*CAJA DE COMPONENETES Y ENTRADA - ENTRADAS*/
.divComponentesplusentrada .entradas {
  width: 87%;
  margin: 0 8px;
}

/*CAJA DE COMPONENETES Y ENTRADA -COMPONENETES*/
.divComponentes .componentes {
  margin-top: 30px;
}

/*COMPONENTES CON GRID*/
.componentes {
  /*width: 50px;
    height: 50px;*/
  display: grid;
  grid-template-columns: repeat(2, 35px);
  grid-template-rows: repeat(3, 35px);
  gap: 10px;
  justify-content: center;
}

/*COMPONENTES CON GRID ELLIPSE*/
.componentes .ellipse {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: gray;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.componentes .ellipse.painted {
  background-color: black;
}

/*ENTRADA DE TEXTO DE BRAI - ESP*/
.entradas .entradaTexto {
  width: 100%;
  display: inline-block;
  height: 70%;
  text-align: center;
  font-size: 100%;
  margin: 0 0 20px 0;
  padding: 10px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 5px 5px #00000040;
}

/*BOTON DE COMPONENTES*/
#collectButton {
  width: 75%;
  height: 30px;
  background-color: #000000;
  border-radius: 10px;
  color: #ffffff;
  margin: 8px 0 0 0;
  padding: 0;
  font-size: 15px;
}

#collectButton:hover {
  background-color: #104868;
}

/*BOTON DE ESPACIO BRAILLE*/
#spaceButton {
  width: 60%;
  height: 30px;
  background-color: #000000;
  border-radius: 10px;
  color: #ffffff;
  margin: 8px;
  padding: 0;
  font-size: 12px;
}

#spaceButton:hover {
  background-color: #104868;
}

.divBotones{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*BOTONES GENERALES*/
/*BOTON DE LIMPIAR, COPIAR, VOZ, ZOOM*/
.botonesEntradaTexto, .botonesZoom2{
  display: flex;
  justify-content: space-between;
}

#limpiarBoton,
#BotonCopiar{
  display: flex;
  float: right;
}
.botonesZoom1{
  display: flex;
  justify-content: right;
}

#limpiarBoton,
#BotonVoz,
#BotonSpeaker,
#BotonCopiar,
#zoomOut,
#zoomIn{
  width: 60px;
  height: 30px;
  padding: 0;
  margin: 0 5px;
  border: 1px solid #849ab8;
  border-radius: 5px; 
  background-color: #f0f0f0; 
  cursor: pointer; 
  box-shadow: 0 4px 8px rgba(0, 0.2, 0.2, 0.2);
  align-items: center;
  justify-content: center;
}

#BotonSpeaker img{
  width: 20px;
}

#zoomIn,
#zoomOut {
  font-size: 25px;
  font-weight: bold;
}

#limpiarBoton:hover,
#BotonVoz:hover,
#BotonCopiar:hover,
#zoomIn:hover,
#zoomOut:hover  {
  background-color: #5BC1FB;
}




#limpiarBoton img,
#BotonVoz img ,
#BotonCopiar img {
  height: 20px;
  padding: 0;
  margin: 0;
}

/*navegacion por teclado*/
:focus {
  outline: 2px solid #535658; 
  outline-offset: 2px;
}


a:focus, button:focus, input:focus {
  border: #828282; 
}

:focus:not(:focus-visible){
  outline: none;
}



