<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Traductor Español - Braille</title>
  <link rel="stylesheet" href="../../templates/css/estilosPrincipal.css" />
  <link rel="stylesheet" href="../../templates/css/estilosModoOscuro.css" />
  <style>
    .hidden {
      display: none;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
</head>

<body>
  <header class="header">
    <div class="logo">
      <img src="../../images/logo-proyecto.png" alt="Dev-Sentinels Logo" />
      <p>Dev-Sentinels</p>
    </div>
    <div class="info">
      <div class="Conocenos">
        <a class="ConocenosTitulo" id="conocenosBoton" tabindex="0" aria-label="Conócenos"
          aria-expanded="false">Conócenos</a>
        <div class="ConocenosOpciones">
          <a href="MisionVision.html" aria-label="Leer más sobre nuestra misión y visión">Misión y Visión</a>
          <a href="Equipo.html" aria-label="Conoce a nuestro equipo">Equipo</a>
        </div>
      </div>
      <img src="../../images/info-icon.png" alt="icono de informacion" />
    </div>
  </header>
  <div class="TitlesInformation">
    <h1 id="TituloPage">BrailleX</h1>
    <p id="subtituloPage">Traduce un texto de Español a Braille</p>
  </div>
  <div class="container">
    <aside class="sidebar">
      <h3>Traductor</h3>
      <ul>
        <li>
          <img src="../../images/EspBra-icon.png" alt="icono de traduccion español a braille" />
          <a href="index.html" aria-label="Traducir Español a Braille">Español - Braille</a>
        </li>
        <li>
          <img src="../../images/BraEsp-icon.png" alt="icono de traduccion braille a español" />
          <a href="brailleEs.html" aria-label="Traducir Braille a Español">Braille - Español</a>
        </li>
      </ul>
    </aside>

    <main class="traductorBraille">
      <p class="warningCaracteres hidden" id="warningCaracteres">
        * Texto inválido: no se permiten caracteres especiales
      </p>
      <div class="botonesEntradaTexto">
        <button id="BotonVoz" aria-label="Habla algo...">
          <img src="../../images/voice-icon.png" alt="boton de hablar" />
        </button>

        <button id="limpiarBoton" type="reset" onclick="p()" aria-label="Limpiar Entrada de Texto">
          <img src="../../images/clear-icon.png" alt="boton de limpiar texto" />
        </button>
      </div>
      <!-- <input class="entradaTexto" type="text" placeholder="Escribe texto en español">-->
      <textarea name="entradaTexto" class="entradaTexto" placeholder="Escribe texto en español" id="entradaTexto"></textarea>
      <div class="btnTraducir"> 
        <button id="traducirBoton" class="botonTraducir"  aria-label="Traducir Español a Braille">Traducir</button>
      </div>
      <div class="botonesZoom1">
        <button onclick="zoomIn()" id="zoomIn" aria-label="Aumentar tamaño de fuente">+</button>
        <button onclick="zoomOut()" id="zoomOut" aria-label="Disminuir tamaño de fuente">-</button>
      </div>
      <div class="respuesta"></div>
      <div class="BotonCopiar">
        <button id="BotonCopiar" aria-label="Copiar Texto Traducido">
          <img src="../../images/copy-icon.png" alt="boton de copiar texto traducido" />
        </button>
      </div>
      <div class="divImpresion">
        <input type="checkbox" id="mirror" name="mirror" />
        <p>Impresión en espejo</p>
      </div>
      <div class="botonesDescargar">
        <button class="botonDescargarPNG" id="descargarPNG" aria-label="Descargar traduccion en PNG" disabled>Descargar
          en
          PNG</button>
        <button class="botonDescargarPDF" id="descargarPDF" aria-label="Descargar contenido en PDF" disabled>Descargar
          en
          PDF</button>
      </div>
    </main>
  </div>
  <div class="dark-mode-toggle-container">
    <label class="switch">
      <input type="checkbox" id="darkModeToggle">
      <span class="slider round"></span>
    </label>
  </div>

  <!--SCRIPTS-->
  <script src="../../app/services/validate.js" type="module"></script>
  <script src="../../app/utilities/limpiar.js"></script>
  <script type="module" src="../../app/utilities/scripts.js"></script>
  <script type="module" src="../../app/utilities/toggleDarkMode.js"></script>
  <script src="../../app/utilities/voz.js"></script>
  <script src="../../app/utilities/responsive.js"></script>
  <script src="../../app/utilities/keyboardNavigation.js"></script>
  <script src="../../app/utilities/copyboard.js"></script>
  <script src="../../app/utilities/zoom.js"></script>

</body>

</html>