<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Equipo - BrailleX</title>
    <link rel="stylesheet" href="../../templates/css/estilosPrincipal.css" />
    <link rel="stylesheet" href="../../templates/css/estilosConocenos.css" />
  </head>

  <body>
    <div class="header">
      <div class="logo">
        <img src="../../images/logo-proyecto.png" alt="Dev-Sentinels Logo" />
        <p>Dev-Sentinels</p>
      </div>
      <div class="info">
        <div class="Conocenos">
          <div class="ConocenosTitulo">Conócenos</div>
          <div class="ConocenosOpciones">
            <a href="MisionVision.html">Misión y Visión</a>
            <a href="Equipo.html">Equipo</a>
          </div>
        </div>
        <img src="../../images/info-icon.png" alt="icono de información" />
      </div>
    </div>
    <div class="Titulo">Nuestro Equipo</div>
    <div class="container">
      <div class="content">
        <div class="team-container">
          <div class="team-member">
            <img src="../../images/Xavi.jpeg" alt="Foto de Xavier Carpio" />
            <h3>Xavier Carpio</h3>
            <p>Analista de Requisitos</p>
            <!--  <p>ransformamos las visiones del cliente en especificaciones claras y concisas para guiar el desarrollo de nuestros proyectos.</p>-->
          </div>
          <div class="team-member">
            <img
              src="../../images/Shander.jpeg"
              alt="Foto de Shander Gonzales"
            />
            <h3>Shander González</h3>
            <p>Desarrollador</p>
            <!-- <p>Convertimos ideas en aplicaciones funcionales y atractivas mediante una combinación de experiencia técnica y creatividad.</p>-->
          </div>
          <div class="team-member">
            <img src="../../images/Mateo.jpeg" alt="Foto de Mateo Espinoza" />
            <h3>Mateo Espinoza</h3>
            <p>Desarrollador</p>
            <!--  <p>Aportamos nuestra experiencia para crear soluciones robustas y escalables que satisfacen las necesidades cambiantes de nuestros clientes.</p>-->
          </div>
        </div>
        <div class="team-container2">
          <div class="team-member">
            <img src="../../images/Kelly.jpeg" alt="Foto de Kelly Sangoluisa" />
            <h3>Kelly Sangoluisa</h3>
            <p>Tester</p>
            <!--   <p>Aseguramos la calidad de nuestros productos a través de pruebas rigurosas y análisis exhaustivos.</p>-->
          </div>
          <div class="team-member">
            <img src="../../images/Joss.jpeg" alt="Foto de Joselyn Pilco" />

            <h3>Joselyn Pilco</h3>
            <p>Tester</p>
            <!-- <p>Complementamos las pruebas del primer equipo para garantizar una cobertura completa y mejorar la experiencia del usuario.</p>-->
          </div>
        </div>
      </div>
    </div>
    <button class="backButton" onclick="location.href='index.html'">
      Regresar a la página inicial
    </button>
  </body>
</html>
